.container-fluid {
  width: 100%;
}

.navbar {
  background-color: #ffffff !important;
}

.navbar-brand {
  color: #3797a4 !important;
}

h2 {
  margin-top: 10px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.arrow-down {
  color: white;
}

.map-info-arrow-down::after, .map-info-arrow-down::before {
  position: absolute;
  content: '';
  width: 100px;
  height: 100px;
  background: #8ccbbe;
  bottom: -.5em;
  z-index: 100;
}

.map-info-arrow-down::before {
  right: 50%;
  transform: skew(0, 25deg);
}

.map-info-arrow-down::after {
  left: 50%;
  transform: skew(0, -25deg);
}

.project-desc-arrow-down::after, .project-desc-arrow-down::before {
  position: absolute;
  content: '';
  width: 60px;
  height: 60px;
  background: #8ccbbe;
  bottom: -4em;
  z-index: 0;
}

.project-desc-arrow-down::before {
  right: 50%;
  transform: skew(0, 25deg);
}

 .project-desc-arrow-down::after {
  left: 50%;
  transform: skew(0, -25deg);
}

.profile {
  color: white;
  padding-left: 20px;
}

.profile h2 {
  font-size: 36px;
  font-style: italic;
  padding-bottom: 5px;
}

.profile p {
  font-size: 16px;
}

.image-right {
  margin-right: -5px;
  float: right;
  height: 100%;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.image-left {
  margin-right: -5px;
  float: right;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%);
}

.project-page {
  color: white;
}

.project-section {
  padding-left: 30px;
  padding-right: 100px;
}
