
/* global styles */
html {
  scroll-padding-top: 56px; /* height of sticky header */
}

h2 {
  margin-top: 10px;
}

.container-fluid {
  width: 100%;
}

/* navbar styling */
.navbar {
  background-color: #ffffff !important;
}

.navbar-brand {
  color: #3797a4 !important;
  padding-left: 1em !important;
}

.custom-nav-btn {
  color: rgba(0,0,0,.5);
  text-decoration: none;
}

.custom-nav-btn:hover {
  color: rgba(0,0,0,.7);
  text-decoration: none;
}

/* project background description styling */
.project-desc-arrow-down::after, .project-desc-arrow-down::before {
  position: absolute;
  content: '';
  width: 75px;
  height: 75px;
  background: #8ccbbe;
  bottom: -0.5em;
  z-index: 100;
}

.project-desc-arrow-down::before {
  right: 50%;
  transform: skew(0, 25deg);
}

.project-desc-arrow-down::after {
  left: 50%;
  transform: skew(0, -25deg);
}

/* meet the team styling */
.profile {
  padding: 15px 15px 15px 30px;
  display: flex;
  height: 300px;
}

.profile div {
  margin-top: auto;
  margin-bottom: auto;
}

.profile h2 {
  font-size: 36px;
  font-style: italic;
  padding-bottom: 5px;
}

.profile p {
  font-size: 16px;
  margin: 5px 0px;
}

.team-member {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover !important;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  height: 300px;
}

.team-member-style-1 {
  background-color: #8ccbbe;
  color: white;
}

.team-member-style-2 {
  background-color: white;
  color: #8ccbbe;
}

.team-member div::after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.6;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 576px) {
    .team-member {
      height: 150px;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      text-align: center;
      background-color: #8ccbbe !important;
      color: white;
    }
    .profile {
      background-color: white;
      color: #3797a4;
    }
}

@media screen and (max-width: 768px) {
    .section-heading {
      padding-left: 30px;
    }
    #variables-section {
      height: 250px !important;
    }
}

/* project description styling */
.project-page {
  color: white;
}

.section {
  padding: 50px 0px 80px 50px;
}

.section-heading {
  background-color: #fcf876;
  color: #7d7d7d;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* relevant articles styling */
.article {
  padding: 20px;
  margin: 15px 0px;
  border-radius: 10px;
}

.article-topic {
  font-size: 22px;
}

.article-author {
  font-size: 18px;
}

.article-date {
  font-size: 15px;
}

.article-link {
  height: 16px;
  margin-bottom: 5px;
}

/* data sources styling */
.data-source {
  padding: 20px;
  margin: 15px 20px;
  border-radius: 10px;
}

/* source code link styling */
.source-code-link h2 {
  color: #7d7d7d;
}

.source-code-link:hover {
  text-decoration-color: #7d7d7d;
}
