.container-fluid {
  width: 100%;
}

.navbar {
  background-color: #ffffff !important;
}

.navbar-brand {
  color: #3797a4 !important;
}

h2 {
  margin-top: 10px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.info-right::after, .info-right::before {
  position: absolute;
  content: '';
  width: 100px;
  height: 100px;
  background: #fcf876;
  bottom: -.5em;
  z-index: 100;
}

.info-right::before {
  right: 50%;
  transform: skew(0, 25deg);
}

.info-right::after {
  left: 50%;
  transform: skew(0, -25deg);
}

.profile {
  color: white;
}

.profile h2 {
  font-size: 42px;
  font-style: italic;
  padding-bottom: 5px;
}

.profile p {
  font-size: 18px;
}

.profile-left {
  padding-left: 20px;
}

.profile-right {
  padding-right: 20px;
}

.profile-right img {
  float: left;
  height: 100%;
  clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);
}

.profile-left img {
  float: right;
  height: 100%;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}
